p {
    text-wrap: pretty;  
}
h1 {
  font-color: #AF7AC5;
  background-color: #FEF5E7;
  font-size: large;
}
body {
  font-family: sans-serif;
  font-color: #AF7AC5 
  margin-left: 10%;
  margin-right: 10%;
}
