p {
    text-wrap: pretty;  
}
h1 {
  color: #B68EBD;
  background-color: #FEF5E7;
  font-size: xx-large;
  font-family: 'Courier New', sans-serif;
}
body {
  font-family: 'Courier New', sans-serif;
  color: #B68EBD; 
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FEF5E7;
}

.problem {
    background-color: #F0EFEF;
    margin-left: 5%;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 2px; 
    font-size: large;
}
